matplotlib
numpy
pandas
opencv-python
torch
torchvision
torchaudio
timm
segmentation-models-pytorch
imutils
scikit-image
tqdm
pillow
albumentations
scikit-learn
yolov5
ensemble-boxes
ultralytics
paddlepaddle
paddleocr
pytorch_lightning
